<% content_for :title do %>About<% end %>
<h3>Meet your new friend, Groupie Bot</h3>
<p>
Groupie Bot is your very own social media virtual assistant. Sit back and have a Molten Mojito while Groupie Bot (aka Baby Skynet) takes the wheel and likes posts, follows new friends, unfollows losers, and builds your own social media empire.
</p>
<h3>How Groupie Bot Works</h3>
<p>
Just like most of your friends, Groupie Bot sits on Instagram and Twitter refreshing tirelessly while liking and commenting on other people's posts and profiles. Fortunately for you, all you need to do is choose what kind of pictures for Groupie Bot to like and the type of people it/he/she should follow!
</p>
<h3>Simplicity</h3>
<p>
Part of Groupie Bot's beauty is her/his simplicity. Other bots have lots of boring incomrehrehenfensible settings, but Groupie Bot makes it easy - just hit go!
</p>